{% extends "base.html" %}

{% block content %}
<main>
    <h1>Adding a task</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.priority.label }}<br>
            {{ form.priority(class="form-control") }}<br>
            {% for error in form.priority.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.scheduled_date.label }}<br>
            {{ form.scheduled_date(class="form-control") }}<br>
            {% for error in form.scheduled_date.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.done() }} {{ form.done.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</main>
{% endblock %}
