{% extends "base.html" %} 
{% block content %}
<main>
    <div class="btn-group">
        <a href="/tasks/today" class="btn btn-dark active" aria-current="page">Today's tasks</a>
        <a href="/tasks/upcoming" class="btn btn-dark">Upcoming tasks</a>
    </div>
    <a href="/add_tasks" class="btn btn-dark" id="new_task">New task</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Done</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.title }}</td>
                <td>{{ task.scheduled_date.strftime("%Y-%m-%d") }}</td>
                <td>{% if task.done %} Done! {% else %} In progress {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
